body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(119, 173, 157, 1) 27%, rgba(218, 249, 234, 1) 75%);
    
}
h1.blocktext {
    margin-top: 5em;
    font-family: 'Dancing Script', cursive;
	font-size: 50px;
	display: flex;
}


#card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    font-family: 'Dancing Script', cursive;
    color: #208beeeb
}
#card #display {
    width: 60%;
    border-radius: 20px 0 0 20px;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(30px) hue-rotate(20deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
#card #display > * {
    text-align: center;
}
#card #display #art {
    height: 200px;
    margin: 0 auto;
}
#card #list {
    width: 40%;
    border-radius: 0 20px 20px 0;
    background: tranparent;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: none;
    height: 600px;
}
#card #list::-webkit-scrollbar {
    width: 1px;
  }
#card #list .item {
    padding: 0 1em;
    background: rgba(236, 241, 235, 0.733);
    transition: all 0.3s ease;
    
}
#card #list .item:first-of-type {
    border-radius: 0 20px 0 0;
}
#card #list .item:last-of-type {
    border-radius: 0 0 20px 0;
}
#card #list .item.is-active {
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(30px) hue-rotate(20deg);
    transition: all 0.3s ease;
}
#card #list .item:hover {
    cursor: pointer;
}
audio::-webkit-media-controls-enclosure {

    /* background-color: rgb(17,103,75); */
    /* background: radial-gradient(circle, rgba(17,103,75,1) 0%, rgba(214,227,218,0.9158721838344713) 100%); */
    background: rgb(84, 206, 165);
/* background: linear-gradient(194deg, rgba(17,103,75,1) 0%, rgba(214,227,218,0.9158721838344713) 100%); */
    }